#Title {
width:1024px;
margin-top:80px;
background-color:#4169E1;
margin-left:auto;
margin-right:auto;	
font-style:italic;
color:White;
font-size:64px;
text-align:center;
border-radius:16px;
}

#module {
width:1024px;
height:200px;
margin-top:30px;
margin-left:auto;
margin-right:auto;	
border:thin solid Black;
}

#module ul {
width:1024px;
height:170px;
text-align:left;
margin:0;
padding:0;
}

#module li {
list-style:none;
float:left;
padding:5px;
margin-left:10px;
top:5px;
position:relative;
height:147px;
width:160px;
border-right:thin solid Black;
border-bottom:thin solid Black;
background:#F5F5F5;
}
#module a {
text-decoration:none;
color:Black;
font-size:30px;
}
#module p {
color:#696969;
}
#module a:hover {
text-decoration:underline;
}

#topStyle {
	margin:0;
	padding:0;
	height:30px;
	border:thin solid Black;
	border-top:thin solid White;
	text-align:left;
	font-style:oblique;
	font-size:25px;
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=rgb(30,144,255),endcolorstr=rgb(65,105,225),gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=rgb(30,144,255),endcolorstr=rgb(65,105,225),gradientType=0);	
    background:rgb(30,144,255); 
    background:-moz-linear-gradient(top, rgb(30,144,255), rgb(65,105,225));  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgb(30,144,255)), to(gba(65,105,225)));  
    background:-o-linear-gradient(top, rgb(30,144,255), gba(65,105,225)); 
}

/* 二级页面 */
#forumDiv {
width:1024px;
margin-top:10px;
margin-left:auto;
margin-right:auto;
}
#forumDiv table {
margin-top:10px;
padding:0;
text-align:left;
width:1024px;
border:thin solid #BEBEBE;
}
#forumDiv table tr {
margin:0;
padding:0;
}
#forumDiv table th {
 color:#1E90FF;
 height:50px;
 margin:0;
 padding-left:5px;
 border-bottom:thin solid #BEBEBE;
 background:#CAE1FF;
}
#forumDiv table td {
padding-left:5px;
height:50px;
border-bottom:thin solid #BEBEBE;
}
#forumDiv table tr:hover {
background:#63B8FF;
}
#Left {
width:60%;
}
#forumDiv a {
text-decoration:none;
color:Black;
}
#forumDiv a:hover {
text-decoration:underline;
color:White;
}
#btnDiv {
margin:auto;
width:100px;
height:40px;
border:thin solid #63B8FF;
}
#btn {
width:98px;
height:38px;
margin:1px;;
background:#63B8FF;
}
#btn a {
color:White;
font-size:30px;
}
#btn a:hover{
text-decoration:none;
}

/*三级页面*/
#titleH1 {
font-size:30px;
text-align:center;
color:#4169E1;
}
#titleH2 {
font-size:15px;
text-align:center;
}
#tableDiv {
width:1024px;
margin-left:auto;
margin-right:auto;
}
#contentDiv {
width:1024px;
margin-left:auto;
margin-right:auto;
background:#D3D3D3;
padding-top:10px;
padding-bottom:10px;
}
#trContent {
width:1024px;
margin:0;
background:#D3D3D3;
}
#authorDiv {
width:1024px;
margin:0;
text-align:center;
padding:0;
}
#pBlue {
color:#4169E1;
float:center;
}
#pagingDiv
{
width:1024px;
margin-left:auto;
margin-right:auto;
text-align:center;
}
