#Title {
width:1000px;
margin-top:20px;
height:80px;
float:left;
background:#2454b2;
color:white;
font-size:30px;
text-align:left;
text-indent:0.5cm;
letter-spacing:5px;
line-height:50px;
}
#Title_bottom {
width:1000px;
margin:0px;
padding:0px;
float:left;
height:40px;
background:#284681;
text-indent:1cm;
line-height:40px;
color:white;
}
#Title_bottom a{
color:white;
}
#module {
width:1000px;
height:auto;
margin-top:30px;
float:left;
}

#module ul {
width:1000px;
height:80px;
text-align:left;
margin:0;
padding:0;
float:left;
background:#e4ebf9;
}

#module li {
list-style:none;
float:left;
padding:0px;
margin:5px 0 5px 30px;
height:70px;
width:160px;
border-right:thin solid Black;
border-bottom:thin solid Black;
}
#module a {
text-decoration:none;
color:#4e6799;
font-size:16px;
}
#module p {
color:#696969;
margin:0px;
padding:0px;
font-size:14px;
}
#module a:hover {
text-decoration:underline;
}

#topStyle {
	margin:0;
	padding:0;
	height:30px;
	text-align:left;
	font-size:18px;
	color:white;
	text-indent:0.3cm;
	line-height:28px;
	background:#2454b2;
}

/* 二级页面 */
#forumDiv {
width:1000px;
margin-top:10px;
margin-left:auto;
margin-right:auto;
}
#forumDiv table {
margin-top:10px;
padding:0;
text-align:left;
width:1000px;
border:none;
float:left;
height:auto;
}
#forumDiv tr {
height:500px
width:1000px;
margin:0;
padding:0;
}
#forumDiv table th {
 color:white;
 height:30px;
 margin:0;
 padding:0px;
 background:#2454b2;;
border:none;
}
#forumDiv table td {
padding:0px;
margin:0px;
text-indent:8px;
border:none;
height:40px;
border-bottom:thin solid #BEBEBE;
font-size:14px;
}
#forumDiv table tr:hover {
background:#e4ebf9;
}
#Left {
width:60%;
}
#forumDiv a {
text-decoration:none;
color:#3b1e09;
}
#forumDiv a:hover {
text-decoration:underline;
color:#284681;
}
#btnDiv {
float:left;
margin-top:20px;
padding:0px;
width:1000px;
height:40px;
}
#btn {
float:left;
margin-left:30px;
text-align:center;
line-height:35px;
padding:0px;
width:100px;
height:40px;
background:#284681;
}
#btn a {
color:white;
font-size:25px;
}
#btn a:hover{
text-decoration:none;
color:white;
}

/*三级页面*/
#forum_header {
margin-top:20px;
color:#2454b2;
width:1000px;
height:auto;
float:left;
padding:0px;
text-align:center;
font-size:22px;
}
#forum_in {
width:1000px;
height:auto;
margin:5px 0px 5px 0px;
padding:0px;
float:left;
text-align:center;
}
#forum_box {
width:1000px;
height:auto;
background:rgb(238, 238, 238);
float:left;
margin:0px;
padding:0px;
}
#forum_item {
width:980px;
margin:10px;
height:auto;
float:left;
padding:0px;
text-align:left;
text-indent:1cm;
}
#p_author {
color:red;
display:inline;
font-size:12px;
}
#p_reader {
color:rgb(136, 136, 136);
display:inline;
font-size:12px;
}
#p_name {
color:blue;
display:inline;
font-size:12px;
}
#p_normal {
color:rgb(136, 136, 136);
display:inline;
font-size:12px;
}
#huifu {
width:1000px;
margin-top:10px;
padding:0px;
float:left;
height:40px;
background:#284681;
text-indent:1cm;
line-height:40px;
color:white;
}
#huifu_input {
width:1000px;
margin:0px;
padding:0px;
float:left;
height:auto;
}

