#rollDiv
{
float:left;
width:1000px;
height:auto;
/*background-image:url('../img/mainPage/mainpage/广告页.jpg');*/
background-repeat:no-repeat;
background-size:100% 100%;
margin-left:auto;
margin-right:auto;
border:none;
}
#rollpic
{
width:1000px;
height:250px;
margin-left:auto;
margin-right:auto;
}
.ad, .ad ul {
height:auto;
width:1000px;
float:left;
padding:0;
margin:0;
border:none;
}
.ad ul li {
width:125px;
height:100px;
float:left;
list-style:none;
border:none;
}
.ad a {
text-decoration:none;
border:none;
}
.ad a img {
border:none;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* 四个信息框 */
.msg_box {
width:1000px;
height:auto;
float:left;
background:#f7fbfe;
}
.msg_box_left {
width:460px;
min-height:180px;
height:auto;
float:left;
margin-top:10px;
margin-left:15px;
}
.msg_box_right {
width:460px;
min-height:180px;
height:auto;
float:right;
margin-right:15px;
margin-top:10px;
}
.summary_message{
min-height:180px;
height:auto;
width:460px;
margin:0px;
float:left;
background:#f7fbfe;
border-radius:8px;
}

#message_box
{
width:460px;
height:30px;
text-align:left;
float:left;
font-size:16px;
background:#f7fbfe;
background-image:url('../img/mainPage/mainpage/message.jpg');
background-repeat:no-repeat;
background-size:24% 100%;
border-bottom:1px solid #aacde9;
}

#message_b
{
width: 184px;
height: 30px;
padding-left:25px;
font-weight:bold;
color:White;
position:relative;
top:5px;
}
#message_span
{
height:30px;
float:right;
margin-right:20px;
margin-top:10px;
}
#message_span a
{
height:40px;
color:#4d80b5;
text-decoration:none;
}
#message_span a:hover {
text-decoration:underline;
color:#1E90FF;
}
.summary_message ul{
width:440px;
height:180px;
text-align:left;
float:left;
padding-left:20px;
overflow:hidden;
margin:0px;
}
.summary_message li{
list-style:disc; 
padding-left:0;
line-height:26px;
}
.summary_message a{
text-decoration:none;
color:#555557;
}
.summary_message a:hover{
text-decoration:underline;
color:#1E90FF;
}
/* 左右信息框 */
#left {
float:left;
}
#right {
float:left;
}
#more_right {
margin-left:400px;
}
/* 结束 四个信息框 */

/* 其他页面的容器div */
#anotherPageBox {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
float:left;
}

#anotherPageBox dl{
margin-left:auto;
margin-right:auto;
}

#anotherPageBox a{
margin-left:auto;
margin-right:auto;
}

/* 结束 - 其他页面的容器div */

/* 搜索框 */
 .searchDiv 
{
width:1000px;
height:auto;
margin:0px;
float:left;
/*border-bottom:2px solid #DCDCDC;*/
background:url('../img/mainPage/mainpage/white.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}

.searchDiv ul
{
width: 450px; 
float:right;
height:auto; 
margin:5px;
padding:0px;
/*border:1px solid #DCDCDC;*/
}
.searchDiv ul li
{
float:left;
display:block;
margin:0;
padding:0;
height:30px;
}
input[type=submit] {
width:71px;
height:28px;
background-image:url('../img/mainPage/mainpage/button_background.png');
background-repeat:no-repeat;
background-size:100% 100%;
color:white;
cursor:pointer;
border:none;
margin:0px;
padding:0px;
}
/* 结束 - 搜索框 */

/* 友情链接 */
#friendLinkHead {
width:1000px;
height:27px;
background:url('../img/mainPage/mainpage/friendly_link_split.png');
background-repeat:no-repeat;
background-size:888px 27px;
background-position:right;
text-align:left;
float:left;
}
#friendLink_span {
width:112px;
height:27px;
float:left;
background:#3963ab;
color:white;
text-align:center;
line-height:27px;
}
#friendLinkHead b
{
color:black;
font-size:25px;
line-height:35px;
padding-left:15px;
}
.friendLinkContent
{
height:auto;
float:left;
background:#bccfed;
min-height:200px;
width:1000px;
}
#friendLink {
	position:relative;
	top:10px;
	clear: both;
	text-align: left;
	height:auto;
	width:1000px;
	float:left;
	border-radius:3px;
}
.friendLinkContent a {
color:#555557;
text-decoration:none;
font-size:15px;
}
.friendLinkContent a:hover {
text-decoration:underline;
color:black;
}
.friendLinkContent ul {
height:auto;
float:left;
width:1000px;
margin:0px;
padding:0px;
}
.friendLinkContent li {
line-height:20px;
width:166px;
float:left;
text-align:center;
list-style:none;
}
#position_teller {
margin-top:5px;
width:1000px;
height:auto;
text-indent: 0.5cm;
font-size:15px;
}
/*结束 友情连接 */

