#rollDiv
{
width:1024px;
height:250px;
background-image:url('../img/mainPage/mainpage/广告页.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
margin-left:auto;
margin-right:auto;
}
#ad {
width:1024px;
height:530px;
margin-left:auto;
margin-right:auto;
background:#F5F5F5;
}
#ad ul {
height:100px;
padding:0;
padding-top:5px;
margin:0;
}
#ad li {
float:left;
list-style:none;
padding-left:5px;
padding-bottom:0px;
}
#ad a {
text-decoration:none;
padding:0;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* 四个信息框 */
.summary_message {
height:420px;
width:1024px;
margin-left:auto;
margin-right:auto;
background:#F0F8FF;/*#F8F8FF;*/
}
.summary_message ul {
width:502px;
height:400px;
text-align:left;
padding:0px;
margin:5px;
}
.summary_message li {
list-style:none; 
}
.summary_message a {
text-decoration:none;
color:Black;
}
.summary_message a:hover {
text-decoration:underline;
color:#00008B;
}
#topLeft {
height:28px;
font-size:20px;
margin:0;
border-style:none;
list-style:none;

background:url('../img/mainPage/mainpage/02-1.jpg');
background-repeat:no-repeat;
border-bottom:2px solid #6495ED;
/*
-webkit-background-size:100%;
background-size:100%*/
}
#topLeft {
height:28px;
font-size:20px;
margin:0;
border-style:none;
list-style:none;

background:url('../img/mainPage/mainpage/02-1.jpg');
background-repeat:no-repeat;
border-bottom:2px solid #6495ED;
}
#topRight {
height:28px;
font-size:20px;
margin:0;
border-style:none;
list-style:none;

background:url('../img/mainPage/mainpage/02-2.jpg');
background-repeat:no-repeat;
border-bottom:2px solid #6495ED;
}
#downLeft {
height:28px;
font-size:20px;
margin:0;
border-style:none;
list-style:none;

background:url('../img/mainPage/mainpage/02-1.jpg');
background-repeat:no-repeat;
border-bottom:2px solid #6495ED;
}
#downRight {
height:28px;
font-size:20px;
margin:0;
border-style:none;
list-style:none;

background:url('../img/mainPage/mainpage/02-5.jpg');
background-repeat:no-repeat;
border-bottom:2px solid #6495ED;
}
/* 左右信息框 */
#left {
float:left;
}
#right {
float:right;
}
#more_right {
margin-left:400px;
}
/* 结束 四个信息框 */

/* 其他页面的容器div */
#anotherPageBox {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
}

#anotherPageBox dl{
margin-left:auto;
margin-right:auto;
}

#anotherPageBox fieldset {
width:500px;
margin-left:auto;
margin-right:auto;
border:1px solid Black;
}

#anotherPageBox a{
margin-left:auto;
margin-right:auto;
}

/* 结束 - 其他页面的容器div */

/* 搜索框 */
#searchDiv {
text-align:center;
width:1024px;
height:45px;
margin-left:auto;
margin-right:auto;
margin-top:0;
}

#searchDiv input[type=text]{
	font-family: arial;
	color: #636365;
	font-size: 15pt;
	vertical-align: middle;
}
#searchDiv table{
	color:Black;
	width:400px;
	float:right;
	border-collapse:collapse;
	border:none;
}
#searchBtn
{
background:Yellow;
}
#radioLength {
width:30%;
}
#inputLength {
width:50%;
}
#buttonLength {
width:20%;
}

/* 结束 - 搜索框 */

/* 友情链接 */
#friendLinkHead {
width:1024px;
margin-left:auto;
margin-right:auto;
height:40px;
background:url('../img/mainPage/mainpage/友情链接.jpg');
background-repeat:no-repeat;
background-size:12% 100%;
}
#friendLink {
	clear: both;
	text-align: left;
	background:url('../img/mainPage/mainpage/友情链接背景.jpg');
	height:256px;
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	-webkit-background-size:100%;
	background-size:100%
}
#friendLink a {
padding:10px;
}
/*结束 友情连接 */
