#rollDiv
{
float:left;
width:1000px;
height:auto;
/*background-image:url('../img/mainPage/mainpage/广告页.jpg');*/
background-repeat:no-repeat;
background-size:100% 100%;
margin-left:auto;
margin-right:auto;
border:none;
}
#rollpic
{
width:1000px;
height:250px;
margin-left:auto;
margin-right:auto;
}
.div_ad_image{
height:auto;
width:1000px;
float:left;
padding:0;
margin:0;
border:none;
}
.div_ad_image ul {
height:auto;
width:1000px;
float:left;
padding:0;
margin:0;
border:none;
}
.div_ad_image li {
width:125px;
height:83px;
float:left;
list-style:none;
border:none;
}
.div_ad_image a {
text-decoration:none;
border:none;
width:125px;
height:100px;
}
.div_ad_image a img {
border:none;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* 四个信息框 */
.msg_box {
width:1000px;
height:auto;
float:left;
background:#f7fbfe;
}
.msg_box_left {
width:460px;
min-height:180px;
height:auto;
float:left;
margin-top:5px;
margin-left:15px;
}
.msg_box_right {
width:460px;
min-height:180px;
height:auto;
float:right;
margin-right:15px;
margin-top:5px;
}
.summary_message{
min-height:130px;
height:auto;
width:460px;
margin:0px;
float:left;
background:#f7fbfe;
border-radius:8px;
}

#message_box_company
{
width:460px;
height:31px;
text-align:left;
float:left;
font-size:16px;
background:#f7fbfe;
background-image:url('../img/mainPage/mainpage/four_block_company.png');
background-repeat:no-repeat;
background-size:91px 31px;
border-bottom:1px solid #aacde9;
}
#message_box_proxy {
width:460px;
height:31px;
text-align:left;
float:left;
font-size:16px;
background:#f7fbfe;
background-image:url('../img/mainPage/mainpage/four_block_proxy.png');
background-repeat:no-repeat;
background-size:91px 31px;
border-bottom:1px solid #aacde9;
}
#message_box_recruitment {
width:460px;
height:31px;
text-align:left;
float:left;
font-size:16px;
background:#f7fbfe;
background-image:url('../img/mainPage/mainpage/four_block_recruitment.png');
background-repeat:no-repeat;
background-size:91px 31px;
border-bottom:1px solid #aacde9;
}
#message_box_forum {
width:460px;
height:31px;
text-align:left;
float:left;
font-size:16px;
background:#f7fbfe;
background-image:url('../img/mainPage/mainpage/four_block_forum.png');
background-repeat:no-repeat;
background-size:91px 31px;
border-bottom:1px solid #aacde9;
}
#message_b
{
width: 184px;
height: 30px;
padding-left:25px;
font-weight:bold;
color:White;
position:relative;
top:5px;
}
#message_span
{
height:19px;
float:right;
margin-top:12px;
font-size:12px;
font-family:Arial;
}
#message_span a
{
height:40px;
color:#4d80b5;
text-decoration:none;
}
#message_span a:hover {
color:#1E90FF;
}
.summary_message ul{
width:440px;
height:130px;
text-align:left;
float:left;
padding-left:20px;
overflow:hidden;
margin:0px;
}
.summary_message li{
list-style:disc; 
padding-left:0;
line-height:24px;
}
.summary_message a{
text-decoration:none;
color:#555557;
font-size:14px;
}
.summary_message a:hover{
color:#1E90FF;
}
/* 左右信息框 */
#left {
float:left;
}
#right {
float:left;
}
#more_right {
margin-left:400px;
}
/* 结束 四个信息框 */

/* 其他页面的容器div */
#anotherPageBox {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
float:left;
}

#anotherPageBox dl{
margin-left:auto;
margin-right:auto;
}

#anotherPageBox a{
margin-left:auto;
margin-right:auto;
}

/* 结束 - 其他页面的容器div */

/* 搜索框 */
 .searchDiv 
{
	padding:0;
	width:1000px;
	height:19px;
	text-align:right;
	float:left;
	color:#3a4566;
	font-size:14px;
}

.searchDiv ul
{
width: 220px; 
float:right;
height:auto; 
margin:0px;
padding:0px;
text-align:right;
position:bottom;
/*border:1px solid #DCDCDC;*/
}
/*
.searchDiv li
{
float:left;
list-style:none;
display:inline;
margin:0;
padding:0;
height:28px;
width:61px;
}*/
#searchSelect {
float:left;
margin:0px;
padding:0px;
height:19px;
width:104px;
list-style:none;
font-size:12px;
line-height:24px;
}
#searchInput {
float:left;
margin:0px;
padding:0px;
width:97px;
height:19px;
list-style:none;
}
#searchBtn {
float:left;
margin:0px;
padding:0px;
height:19px;
width:19px;
list-style:none;
}
.searchDiv input[type=text] {
width:97px;
height:19px;
background-image:url('../img/mainPage/mainpage/searching_box.png');
background-repeat:no-repeat;
background-size:97px 19px;
border:none;
margin:0px;
padding:0px;
}
.searchDiv input[type=submit] {
width:19px;
height:19px;
background-image:url('../img/mainPage/mainpage/searching_btn.png');
background-repeat:no-repeat;
background-size:19px 19px;
color:white;
cursor:pointer;
border:none;
margin:0px;
padding:0px;
}
/* 结束 - 搜索框 */

/* 友情链接 */
#friendLinkHead {
width:1000px;
height:27px;
background:url('../img/mainPage/mainpage/friendly_link_title.png');
background-repeat:no-repeat;
background-size:1000px 27px;
background-position:right;
text-align:left;
float:left;
}
#friendLinkHead b
{
color:black;
font-size:25px;
line-height:35px;
padding-left:15px;
}
.friendLinkContent
{
height:auto;
float:left;
background:#bccfed;
width:1000px;
height:auto;
}
#friendLink {
	clear: both;
	text-align: left;
	height:auto;
	width:1000px;
	float:left;
}
.friendLinkContent a {
color:#555557;
text-decoration:none;
font-size:14px;
}
.friendLinkContent a:hover {
color:black;
}
.friendLinkContent ul {
height:auto;
float:left;
width:1000px;
margin-top:14px;
margin-bottom:14px;
padding:0px;
}
.friendLinkContent li {
line-height:24px;
width:166px;
float:left;
text-align:center;
list-style:none;
}
#position_teller {
margin:0px;
width:1000px;
height:auto;
font-size:12px;
color:rgb(85,85,87);
}
/*结束 友情连接 */

