.summary_message {
margin-top:10px;
height:420px;
width:1024px;
margin-left:auto;
margin-right:auto;
}
.ad_background {
width:100%;
height:520px;
background:url(img/ad/ad_background.png) no-repeat;
margin-left:0;
margin-right:0;
}
.ad {
width:1024px;
height:520px;
margin-left:auto;
margin-right:auto;
background:#1E90FF;
margin-top:80px;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* all kinds of ul&li */

/* 1. for summary of message */
ul.summary {
list-style:none;
width:490px;
height:400px;
display:block;
background:#F5F5F5;
}
ul.summary a {
text-decoration:none;
font-size:15px;
color:Black;
}
ul.summary li{
position:relative;
padding:1px;
color:black;
text-align:left;
font-size:20px;
border-style:none none dashed none;
border-width:thin;
}
ul.summary li a:hover{
text-decoration:underline;
}
/* end of ul&li */

#topForMore {
margin:0;
border-style:none;
background:url(img/summary/summary_top.png);
-webkit-background-size:100%;
background-size:100%
}
/* 左右信息框 */
#left {
margin-left:5px;
float:left;
}
#right {
margin-right:5px;
float:right;
}
#more_right {
margin-left:360px;
}
/* 其他页面的容器div */
#anotherPageBox {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
}

#anotherPageBox dl{
margin-left:auto;
margin-right:auto;
}

#anotherPageBox fieldset {
width:500px;
margin-left:auto;
margin-right:auto;
border:1px solid Black;
}

#anotherPageBox a{
margin-left:auto;
margin-right:auto;
}

/* 结束 - 其他页面的容器div */

/* 搜索框 */
#searchDiv {
text-align:center;
width:1024px;
margin-left:auto;
margin-right:auto;
}

#searchDiv input[type=text]{
	border-right-width: 0px;
	font-family: arial;
	border-top-width: 0px;
	border-bottom-width: 0px;
	color: #636365;
	font-size: 15pt;
	vertical-align: middle;
	border-left-width: 0px;
}
#searchDiv table{
	color:White;
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	height: 25px;
	width:400px;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	float:right;
	border-collapse:collapse;
filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);/*IE8*/	
    background:rgb(65,105,225); /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, rgb(65,105,225), rgba(30,144,255,0.8));  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgb(65,105,225)), to(rgba(30,144,255, 0.8)));  
    background:-o-linear-gradient(top, rgb(65,105,225), rgba(30,144,255, 0.8)); 
	border:1px solid Black;
}

#radioLength {
width:20%;
}
#inputLength {
width:55%;
}
#buttonLength {
width:25%;
}

/* 结束 - 搜索框 */
