#rollDiv
{
width:1024px;
height:250px;
/*background-image:url('../img/mainPage/mainpage/广告页.jpg');*/
background-repeat:no-repeat;
background-size:100% 100%;
margin-left:auto;
margin-right:auto;
}
#rollpic
{
width:1024px;
height:250px;
margin-left:auto;
margin-right:auto;
}

/*
#ad ul {
height:100px;
padding:0;
padding-top:5px;
margin:0;
}
#ad li {
float:left;
list-style:none;
padding-left:5px;
padding-bottom:0px;
}
#ad a {
text-decoration:none;
padding:0;
}
*/
.ad, .ad ul {
height:auto;
width:1024px;
float:left;
padding:0px;
margin:0px;
}
.ad ul li {
width:auto;
height:auto;
float:left;
list-style:none;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* 四个信息框 */
.summary_message {
height:460px;
width:510px;
margin:0px;
float:left;
background:white;
border:1px solid #D3D3D3;;
}
#message_box_left
{
width:512px;
height:40px;
text-align:left;
margin:10px 0px 0px 0px;
float:left;
font-size:20px;
background-image:url('../img/mainPage/mainpage/message.jpg');
background-color:rgb(245, 251, 254);
background-repeat:no-repeat;
background-size:25% 100%;
}
#message_box_right
{
width:512px;
height:40px;
text-align:left;
margin:10px 0px 0px 0px;
float:right;
font-size:20px;
background-image:url('../img/mainPage/mainpage/message.jpg');
background-color:rgb(245, 251, 254);
background-repeat:no-repeat;
background-size:25% 100%;
display:inline
}
#message_b
{
width: 96px;
height: 40px;
line-height:40px;
padding-left:25px;
color:White;
}
#message_span
{
height:40px;
float:right;
margin-right:20px;
margin-top:17px;
}
#message_span a
{
height:40px;
color:#6495ED;
}
.summary_message ul {
width:510px;
height:400px;
text-align:left;
margin:0px;
padding-left:20px;
}
.summary_message li {
list-style:disc; 
padding-left:0;
}
.summary_message a {
text-decoration:none;
color:Black;
}
.summary_message a:hover {
text-decoration:underline;
color:#00008B;
}
/* 左右信息框 */
#left {
float:left;
}
#right {
float:left;
}
#more_right {
margin-left:400px;
}
/* 结束 四个信息框 */

/* 其他页面的容器div */
#anotherPageBox {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
float:left;
}

#anotherPageBox dl{
margin-left:auto;
margin-right:auto;
}

#anotherPageBox fieldset {
width:500px;
margin:50px auto 50px auto;
border:3px solid #BEBEBE;
border-style:ridge;
border-radius:5px;
}

#anotherPageBox a{
margin-left:auto;
margin-right:auto;
}

/* 结束 - 其他页面的容器div */

/* 搜索框 */
#searchDiv {
text-align:center;
width:1024px;
height:40px;
margin-left:auto;
margin-right:auto;
margin-top:0;
inline-height:40px;
}

#searchDiv ul
{
width: 400px; 
float:right;
height:30px; 
inline-height:30px;
margin:5px;
padding:0;
border:1px solid #DCDCDC;
}
#searchDiv li {
display:block;
margin:0px;
padding:0px;
height:30px;
}
#searchDiv ul li
{
float:left;
display:block;
margin:0;
padding:0;
height:30px;
}
/* 结束 - 搜索框 */

/* 友情链接 */
#friendLinkHead {
width:1024px;
margin-left:auto;
margin-right:auto;
height:35px;
background:url('../img/mainPage/mainpage/friendHead.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
text-align:left;
border-radius:1px;
}
#friendLinkHead b
{
color:white;
font-size:25px;
line-height:35px;
padding-left:15px;
}
#friendLinkContent
{
height:216px;
}
#friendLink {
	top:50px;
	position:relative;
	clear: both;
	text-align: left;
	background:#B9D3EE;
	height:256px;
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	border-radius:3px;
}
#friendLink a {
padding:10px;
}
/*结束 友情连接 */

