#rollDiv
{
float:left;
width:1024px;
height:auto;
/*background-image:url('../img/mainPage/mainpage/广告页.jpg');*/
background-repeat:no-repeat;
background-size:100% 100%;
margin-left:auto;
margin-right:auto;
border:none;
}
#rollpic
{
width:1024px;
height:250px;
margin-left:auto;
margin-right:auto;
}

/*
#ad ul {
height:100px;
padding:0;
padding-top:5px;
margin:0;
}
#ad li {
float:left;
list-style:none;
padding-left:5px;
padding-bottom:0px;
}
#ad a {
text-decoration:none;
padding:0;
}
*/
.ad, .ad ul {
height:auto;
width:1024px;
float:left;
padding:0px;
margin:0px;
}
.ad ul li {
width:auto;
height:auto;
float:left;
list-style:none;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* 四个信息框 */
.msg_box {
width:1024px;
height:auto;
float:left;
background:#f7fbfe;
}
.msg_box_left {
width:490px;
height:400px;
float:left;
margin-top:10px;
margin-left:22px;
}
.msg_box_right {
width:490px;
height:400px;
float:right;
margin-top:10px;
}
.summary_message{
height:360px;
width:490px;
margin:0px;
float:left;
background:#f7fbfe;
border-radius:8px;
}

#message_box
{
width:490px;
height:40px;
text-align:left;
float:left;
font-size:20px;
background:#f7fbfe;
background-image:url('../img/mainPage/mainpage/message.jpg');
background-repeat:no-repeat;
background-size:25% 100%;
border-bottom:1px solid #aacde9;
border-radius:3px;
}

#message_b
{
width: 96px;
height: 40px;
line-height:40px;
padding-left:25px;
color:White;
}
#message_span
{
height:30px;
float:right;
margin-right:20px;
margin-top:10px;
}
#message_span a
{
height:40px;
color:#4d80b5;
text-decoration:none;
}
#message_span a:hover {
text-decoration:underline;
color:#1E90FF;
}
.summary_message ul{
width:470px;
height:360px;
text-align:left;
float:left;
padding-left:20px;
}
.summary_message li{
list-style:disc; 
padding-left:0;
line-height:26px;
}
.summary_message a{
text-decoration:none;
color:#555557;
border-bottom:1px dashed black;
}
.summary_message a:hover{
text-decoration:underline;
color:#1E90FF;
}
/* 左右信息框 */
#left {
float:left;
}
#right {
float:left;
}
#more_right {
margin-left:400px;
}
/* 结束 四个信息框 */

/* 其他页面的容器div */
#anotherPageBox {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
float:left;
}

#anotherPageBox dl{
margin-left:auto;
margin-right:auto;
}

#anotherPageBox fieldset {
width:500px;
margin:50px auto 50px auto;
border:3px solid #BEBEBE;
border-style:ridge;
border-radius:5px;
}

#anotherPageBox a{
margin-left:auto;
margin-right:auto;
}

/* 结束 - 其他页面的容器div */

/* 搜索框 */
 .searchDiv 
{
width:1024px;
height:auto;
margin:0px;
float:left;
/*border-bottom:2px solid #DCDCDC;*/
background:url('../img/mainPage/mainpage/white.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}

.searchDiv ul
{
width: 450px; 
float:right;
height:auto; 
margin:5px;
padding:0px;
/*border:1px solid #DCDCDC;*/
}
.searchDiv ul li
{
float:left;
display:block;
margin:0;
padding:0;
height:30px;
}
input[type=submit] {
width:100px;
height:26px;
background-image:url('../img/mainPage/mainpage/button.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
/*border:1px dotted black;*/
border-radius:3px;
color:white;
cursor:pointer;
}
/* 结束 - 搜索框 */

/* 友情链接 */
#friendLinkHead {
width:1024px;
height:35px;
background:url('../img/mainPage/mainpage/friendlink_bg.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
text-align:left;
border-radius:1px;
float:left;
}
#friendLink_span {
width:120px;
height:35px;
float:left;
background:url('../img/mainPage/mainpage/friendlink_tt.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#friendLinkHead b
{
color:black;
font-size:25px;
line-height:35px;
padding-left:15px;
}
#friendLinkContent
{
height:auto;
float:left;
background:#bccfed;
min-height:200px;
width:1024px;
}
#friendLink {
	position:relative;
	top:20px;
	clear: both;
	text-align: left;
	height:auto;
	width:1024px;
	float:left;
	border-radius:3px;
}
#friendLinkContent a {
color:#555557;
padding:10px;
text-decoration:none;
font-size:17px;
}
#friendLinkContent a:hover {
text-decoration:underline;
color:black;
}
/*结束 友情连接 */

