.summary_message {
margin-top:10px;
height:420px;
width:1024px;
margin-left:auto;
margin-right:auto;
}
.ad_background {
width:100%;
height:520px;
background:url(img/ad/ad_background.png) no-repeat;
margin-left:0;
margin-right:0;
}
.ad {
width:1024px;
height:520px;
margin-left:auto;
margin-right:auto;
background:#1E90FF;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* all kinds of ul&li */

/* 1. for summary of message */
ul.summary {
list-style:none;
width:490px;
height:400px;
display:block;
background:#F5F5F5;
}
ul.summary a {
text-decoration:none;
font-size:15px;
color:Black;
}
ul.summary li{
position:relative;
padding:1px;
color:black;
text-align:left;
font-size:20px;
border-style:none none dashed none;
border-width:thin;
}
ul.summary li a:hover{
text-decoration:underline;
}
/* end of ul&li */

#topForMore {
margin:0;
border-style:none;
background:url(img/summary/summary_top.png);
-webkit-background-size:100%;
background-size:100%
}
/* 左右信息框 */
#left {
margin-left:5px;
float:left;
}
#right {
margin-right:5px;
float:right;
}
#more_right {
margin-left:360px;
}
/* 其他页面的容器div */
#anotherPageBox {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
}

#anotherPageBox dl{
margin-left:auto;
margin-right:auto;
}

#anotherPageBox fieldset {
width:500px;
margin-left:auto;
margin-right:auto;
border:1px solid Black;
}

#anotherPageBox a{
margin-left:auto;
margin-right:auto;
}

/* 结束 - 其他页面的容器div */

/* 搜索框 */
.searchinput{
	border-right-width: 0px;
	padding-left: 3px;
	width: 220px;
	font-family: arial;
	float: left;
	border-top-width: 0px;
	border-bottom-width: 0px;
	color: #636365;
	margin-left: 4px;
	font-size: 14pt;
	vertical-align: middle;
	border-left-width: 0px;
	margin-right: 3px;
}
.tab_search{
	border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	height: 30px;
	width:250px;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	background-color:#33CCCC;
	float:right;
	margin-top:5px;
}
.searchRadio {
padding:0;
margin:0;
}
.searchaction{
	width: 70px;
	float: left;
	height: 25px;
	text-align:center;
	padding:0;
	font-size:12pt;
}
/* 结束 - 搜索框 */
