.summary_message {
margin-top:50px;
height:360px;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* all kinds of ul&li */

/* 1. for menubar */
ul.menubar {
list-style:none;
display:block;
height:50px;
background-color:#6495ED;
-moz-box-shadow:0px 3px 4px #000033;
-webkit-box-shadow:0px 3px 4px #000033;
-box-shadow:0px 3px 4px #000033;
}

ul.menubar a {
text-decoration:none;
font-size:30px;
color:White;
}

ul.menubar li {
float:left;
position:relative;
padding-top:5px;
}

ul.menubar li span {
padding:0px 30px;
border-left:1px none White;
background-color:#6495ED;
float:left;
cursor:default;
}

ul.menubar li a:hover {
text-shadow:0px 0px 10px #fff;
}

ul.menubar .submenu {
list-style:none;
display:block;
height:50px;
background-color:#6495ED;
border-radius:20px;
}
/* end of 1.*/

/* 2. for summary of message */
ul.summary {
list-style:none;
width:45%;
height:400px;
display:block;
background:#FFFFF;
border-style:solid;
border-width:1px;
-moz-box-shadow:0px 3px 4px #000033;
-webkit-box-shadow:0px 3px 4px #000033;
-box-shadow:0px 3px 4px #000033;
}
ul.summary a {
text-decoration:none;
font-size:20px;
color:Black;
}
ul.summary li{
position:relative;
padding:5px;
color:black;
text-align:left;
font-size:20px;
}
ul.summary li a:hover{
text-decoration:underline;
}
/* end of ul&li */

#blue {
margin:0;
background-color:#6495ED;
border-style:outset;
}
/* 左右信息框 */
#left {
margin-left:50px;
float:left;
}
#right {
margin-right:50px;
float:right;
}
#more_right {
float:right;
}

/* search box */


/* end of search box */
