.summary_message {
margin-top:10px;
height:420px;
width:1024px;
margin-left:auto;
margin-right:auto;
}
.ad_background {
width:1600px;
height:520px;
background:url(img/ad/ad_background.png) no-repeat;
margin-left:0;
margin-right:0;
}
.ad {
width:1024px;
height:520px;
margin-left:auto;
margin-right:auto;
background:Yellow;
}
/* all kinds of h1 */
h1.mainPage {
color:White;
text-align:center;
font-size:100px;
font-style:normal;
font-weight:normal;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 10px #fff;
}
/* end of h1 */

/* all kinds of ul&li */

/* 1. for summary of message */
ul.summary {
list-style:none;
width:490px;
height:400px;
display:block;
background:#FFFFF;
border-style:solid;
border-width:1px;
-moz-box-shadow:0px 3px 4px #000033;
-webkit-box-shadow:0px 3px 4px #000033;
-box-shadow:0px 3px 4px #000033;
}
ul.summary a {
text-decoration:none;
font-size:20px;
color:Black;
}
ul.summary li{
position:relative;
padding:5px;
color:black;
text-align:left;
font-size:20px;
}
ul.summary li a:hover{
text-decoration:underline;
}
/* end of ul&li */

#blue {
margin:0;
background-color:#6495ED;
border-style:outset;
}
/* 左右信息框 */
#left {
margin-left:5px;
float:left;
}
#right {
margin-right:5px;
float:right;
}
#more_right {
float:right;
}

