.action_menu, .action_menu ul{
width:1000px;
height:auto;
float:left;
margin:0px;
padding:0px;
background:rgb(72, 143, 206);
}
.action_menu {
margin-top:40px;
}
.action_menu li{
list-style:none;
float:left;
padding:5px;
border-right:1px solid white;
border-bottom:1px solid white;
}
.action_menu a{
color:white;
text-decoration:none;
}
.action_menu li:hover{
background:rgb(59, 127, 196);
}

.container_box {
width:1000px;
height:auto;
float:left;
}
.container_box a {
color:#3963ab;
}
.table_box{
width:1000px;
height:auto;
float:left;
}
.table_box table {
width:1000px;
height:auto;
float:left;
border:1px solid rgb(85, 85, 87);
}

.table_box table,td,th {
border:1px solid rgb(85, 85, 87);
}

.table_box th{
height:50px;
}
.table_box td{
text-align:center;
}

.manage_fieldset {
width:700px;
margin:10px auto 0px 150px;
padding:0px;
float:left;
height:auto;
}
.manage_fieldset ul {
width:700px;
height:auto;
margin:0px;
padding:0px;
float:left;
}

#manage_li1 {
width:100px;
float:left;
margin:0px;
padding:0px;
height:auto;
text-align:center;
list-style:none;
color:white;
background:rgb(72, 143, 206);
height:auto;
line-height:30px;
}
#manage_li2 {
width:596px;
float:left;
margin-left:3px;
padding:0px;
height:auto;
text-align:left;
list-style:none;
height:auto;
border-bottom:1px dashed black;
min-height:30px;
}

/*企业基本信息修改*/
.c_modify {
width:536px;
height:450px;
padding:0px;
margin:14px auto 14px auto;
background-image:url('../img/mainPage/secondPage/shining_box_536_450.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
.c_modify select {
width:229px;
padding:0px;
margin:0px;
float:left;
}
.c_modify input[type=text] {
width:225px;
padding:0px;
margin:0px;
}
#c_modify_li1 {
width: 185px;
height: 38px;
float: left;
list-style: none outside none;
padding: 0px;
margin: 0px;
text-align: center;
font-size: 14px;
line-height: 24px;
text-align:center;
color: rgb(85, 85, 87);
}
#c_modify_li2 {
width: 328px;
height: 38px;
float: left;
list-style: none outside none;
padding: 0px;
}
#c_modify_li3 {
width: 513px;
height: 24px;
float: left;
list-style: none outside none;
padding: 0px;
text-align:center;
font-size:14px;
color: rgb(85, 85, 87);
margin:0px;
}
#c_modify_li4{
width: 513px;
height: 24px;
float: left;
list-style: none outside none;
padding: 0px;
text-align:center;
font-size:14px;
margin:0px;
}
/*密码修改*/
.psw_modify {
width:536px;
height:200px;
padding:0px;
margin:14px auto 14px auto;
background-image:url('../img/mainPage/secondPage/shining_box_536_200.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#psw_modify_li1 {
width: 185px;
height: 38px;
float: left;
list-style: none outside none;
padding: 0px;
margin: 0px;
text-align: center;
font-size: 14px;
line-height: 24px;
text-align:center;
color: rgb(85, 85, 87);
}
#psw_modify_li2 {
width: 328px;
height: 38px;
float: left;
list-style: none outside none;
padding: 0px;
}
#psw_modify_li3 {
width: 513px;
height: 24px;
float: left;
list-style: none outside none;
padding: 0px;
text-align:center;
font-size:14px;
color: rgb(85, 85, 87);
margin:0px;
}
#psw_yanzhengma {
width: 328px;
height: 38px;
float: left;
list-style: none outside none;
padding: 0px;
}
#psw_yanzhengma input[type=text]{
width:175px;
}
.forgetpsw {
width:536px;
height:150px;
padding:0px;
margin:14px auto 14px auto;
background-image:url('../img/mainPage/secondPage/shining_box_536_150.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
