.action_menu, .action_menu ul{
width:1000px;
height:auto;
float:left;
margin:0px;
padding:0px;
background:rgb(72, 143, 206);
}
.action_menu {
margin-top:40px;
}
.action_menu li{
list-style:none;
float:left;
padding:5px;
border-right:1px solid white;
border-bottom:1px solid white;
}
.action_menu a{
color:white;
text-decoration:none;
}
.action_menu li:hover{
background:rgb(59, 127, 196);
}

.container_box {
width:1000px;
height:auto;
float:left;
}
.container_box a {
color:#3963ab;
}
.table_box{
width:1000px;
height:auto;
float:left;
}
.table_box table {
width:1000px;
height:auto;
float:left;
border:1px solid rgb(85, 85, 87);
}

.table_box table,td,th {
border:1px solid rgb(85, 85, 87);
}

.table_box th{
height:50px;
}
.table_box td{
text-align:center;
}

.manage_fieldset {
width:700px;
margin:10px auto 0px 150px;
padding:0px;
float:left;
height:auto;
}
.manage_fieldset ul {
width:700px;
height:auto;
margin:0px;
padding:0px;
float:left;
}

#manage_li1 {
width:100px;
float:left;
margin:0px;
padding:0px;
height:auto;
text-align:center;
list-style:none;
color:white;
background:rgb(72, 143, 206);
height:auto;
line-height:30px;
}
#manage_li2 {
width:596px;
float:left;
margin-left:3px;
padding:0px;
height:auto;
text-align:left;
list-style:none;
height:auto;
border-bottom:1px dashed black;
min-height:30px;
}
