#bigBox {
width:1024px;
margin-left:auto;
margin-right:auto;
margin-top:5px;
}
#company_title
{
width:220px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:60px;
background:url('../img/mainPage/secondPage/companySearch.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#proxy_title
{
width:220px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:60px;
background:url('../img/mainPage/secondPage/proxyInfo.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#aboutUs_title{
width:220px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:60px;
background:url('../img/mainPage/secondPage/aboutUs.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}

#leftBox {
width:250px;
border:1px solid #EEE5DE;
border-radius:5px;
float:left;
margin-top:60px;
margin-left:10px;
height:300px;
text-align:center;
background:#F5F5F5;
}
.leftBoxSubmit
{
background:yellow;
}
#rightBox {
width:740px;
float:right;
top:100px;
margin-top:60px;
}

/*公司列表图标*/
#gslb {
margin-left:300px;
width:160px;
height:50px;
}
#gslb_1 {
background:url('../img/mainPage/secondPage/gslb-1.jpg');
float:left;
width:100px;
height:25px;
margin-top:15px;
background-repeat:no-repeat;
background-size:100% 100%;
}
#gslb_2 {
background:url('../img/mainPage/secondPage/gslb-2.jpg');
float:right;
width:40px;
height:50px;
background-repeat:no-repeat;
background-size:100% 100%;
}

/*内容列表*/
#content_list {
width:710px;
height:auto;
padding:5px;
margin:0px;
float:left;
border-top:1px solid #778899;
}
#content_list_li {
width:100px;
height:100px;
float:left;
list-style:none;
}
#content_list_li_1{
width:300px;
height:30px;
float:left;
list-style:none;
}
#content_list_li_2 {
width:600px;
height:70px;
float:left;
list-style:none;
background:rgb(245, 245, 245);
border-top:2px solid #DCDCDC;
}

/*招聘2级页面*/
#recruitment_div {
width:710px;
margin-left:auto;
margin-right:auto;
}
