#bigBox {
width:1024px;
margin-left:auto;
margin-right:auto;
margin-top:5px;
}
#company_title
{
width:220px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:60px;
background:url('../img/mainPage/secondPage/companySearch.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#proxy_title
{
width:220px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:60px;
background:url('../img/mainPage/secondPage/proxyInfo.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#aboutUs_title{
width:220px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:60px;
background:url('../img/mainPage/secondPage/aboutUs.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#login_title {
width:220px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:60px;
background:url('../img/mainPage/secondPage/login.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#leftBox {
width:250px;
border:1px solid #EEE5DE;
border-radius:5px;
float:left;
margin-top:60px;
margin-left:10px;
min-height:300px;
height:auto;
text-align:center;
background:#f7f7f7;
}
.leftBoxSubmit
{
background:yellow;
}
#rightBox {
width:740px;
float:right;
top:100px;
margin-top:10px;
}

/*公司列表图标*/
#gslb {
margin-left:300px;
width:160px;
height:50px;
}
#gslb_1 {
background:url('../img/mainPage/secondPage/gslb-1.jpg');
float:left;
width:100px;
height:25px;
margin-top:15px;
background-repeat:no-repeat;
background-size:100% 100%;
}
#gslb_2 {
background:url('../img/mainPage/secondPage/gslb-2.jpg');
float:right;
width:40px;
height:50px;
background-repeat:no-repeat;
background-size:100% 100%;
}

/*内容列表*/
#content_list {
width:710px;
height:auto;
padding:5px;
margin:0px;
float:left;
}

#content_list_li_1{
width:305px;
height:auto;
min-height:25px;
float:left;
list-style:none;
}
#content_list_li_2 {
width:710px;
height:auto;
min-height:50px;
float:left;
list-style:none;
background:#eff4fa;
border-top:2px solid #c9d9e8;
}

/*代理二级页面内容列表*/
#proxy_list {
width:710px;
height:auto;
padding:5px;
margin:0px;
float:left;
}
#proxy_list_li_img {
width:100px;
height:100px;
float:left;
list-style:none;
}
#proxy_list_li_1{
width:305px;
height:auto;
min-height:33px;
float:left;
list-style:none;
}
#proxy_list_li_2 {
width:710px;
height:auto;
min-height:50px;
float:left;
list-style:none;
background:#eff4fa;
border-top:2px solid #c9d9e8;
}

/*代理ajax布局*/
 .py_ajax 
{
width:250px;
height:auto;
margin:0px;
float:left;
/*border-bottom:2px solid #DCDCDC;*/
}

.py_ajax ul
{
width: 250px; 
float:left;
height:auto; 
margin:0px;
padding:0px;
/*border:1px solid #DCDCDC;*/
}
.py_ajax ul li
{
float:left;
display:block;
margin-left:10px;
padding:5px;
height:30px;
width:230px;
text-align:left;
}
.py_ajax input[type=submit] {
width:100px;
height:26px;
background-image:url('../img/mainPage/mainpage/button.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
/*border:1px dotted black;*/
border-radius:3px;
color:white;
cursor:pointer;
}
.py_ajax select {
width:160px;
}
.py_ajax input {
width:210px;
}
/*招聘2级页面*/
#recruitment_div {
width:710px;
margin-left:auto;
margin-right:auto;
}

/*登录 */
.inputLine, .inputLine ul {
width:480px;
margin:0px;
float:left;
padding:0px;
height:auto;
}
/*
.inputLine ul li {
width:auto;
height:auto;
float:left;
list-style:none;
}
*/
#inputIcon {
width:auto;
height:auto;
float:left;
list-style:none;
padding:0px;
margin:0px;
text-align:center;
}
#inputTest_li {
width:110px;
height:auto;
float:left;
list-style:none;
padding:0px;
margin:0px;
text-align:center;
}
#inputField_li {
width:auto;
height:auto;
float:left;
list-style:none;
}
#username {
width:47px;
height:45px;
background:url('../img/mainPage/secondPage/username.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#password {
width:47px;
height:45px;
background:url('../img/mainPage/secondPage/password.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#email {
width:47px;
height:45px;
background:url('../img/mainPage/secondPage/email.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#inputField {
width:auto;
height:45px;
margin-top:15px;
text-align:right;
}

/*注册*/
#inputField2 {
width:auto;
height:30px;
margin-top:15px;
text-align:right;
}

/*表单*/
#list_bg {
background:url('../img/mainPage/secondPage/ditu.jpg');
background-repeat:no-repeat;
background-size:70% 100%;
width:980px;
height:auto;
float:right;
min-height:800px;
}
/*招标*/
.invite_bids_top {
width:1024px;
height:60px;
float:left;
margin-top:30px;
background:url('../img/mainPage/secondPage/zhaibiao.png');
background-repeat:no-repeat;
background-size:26% 100%;
}
.bids_box{
width:1024px;
height:auto;
float:left;
padding:0px;
}
.bids_box ul {
height:auto;
float:left;
padding-left:24px;
width:900px;
}
.bids_box li {
width:auto;
border-top:1px solid black;
font-size:17px;
padding-top:10px;
text-align:left;
}

/*关于我们*/
#aboutUsBox {
width:740px;
float:right;
top:100px;
margin-top:60px;
height:auto;
min-height:500px;
background:url('../img/mainPage/secondPage/jiantou.png');
background-repeat:no-repeat;
background-size:400px 250px;
background-position:top right;
background-color:#fdfdfd;
}
#aboutUs_content {
width:400px;
float:left;
top:100px;
min-height:500px;
background-color:#fdfdfd;
}
