#bigBox {
width:1000px;
margin-left:auto;
margin-right:auto;
margin-top:5px;
height:auto;
float:left;
}
#company_title
{
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/companySearch.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#proxy_title
{
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/proxyInfo.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#aboutUs_title{
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/aboutUs.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#login_title {
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/login.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#p_register_title {
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/personal_register_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#c_register_title {
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/company_register_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#leftBox {
width:197px;
border:1px solid #EEE5DE;
border-radius:5px;
float:left;
margin-top:50px;
margin-left:12px;
min-height:230px;
height:auto;
text-align:center;
background:#f7f7f7;
}
#leftBox input[type=text] {
width:130px;
}
#actions_lists{
width:197px;
height:auto;
margin:0px;
padding:0px;
float:left;
}
#action_box {
width:220px;
height:auto;
float:left;
}
#actions_lists li {
width:197px;
padding-top:7px;
list-style:none;
}
#moving_ad {
float:left;
width:197px;
height:106px;
margin-left:12px;
margin-top:12px;
background:url('../img/mainPage/secondPage/activity_ad.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
.leftBoxSubmit
{
background:yellow;
}
#rightBox {
/*background:url('../img/mainPage/secondPage/single_black_line.png');
background-repeat:no-repeat;
background-position:left center;
background-size:0.2% 150%;*/
border-left:1px solid rgb(238,229,222);
width:760px;
float:right;
top:70px;
margin-top:10px;
}
.loginBox {
background:url('../img/mainPage/secondPage/single_black_line.png');
background-repeat:no-repeat;
background-position:left;
background-size:0.2% 150%;
width:760px;
float:right;
top:70px;
margin-top:10px;
height:auto;
}
.loginBox form {
width:700px;
height:auto;
margin:0px;
padding:0px;
border:none;
}
#fieldset_box {
width:536px;
height:auto;
margin:0px 0px 0px 80px;
border:none;
background:url('../img/mainPage/secondPage/shining_box.png');
background-repeat:no-repeat;
background-size:100% 100%;
background-position:center;
padding:0px;
}
.loginBox fieldset {
width:536px;
height:auto;
margin:0px;
padding:0px;
border:none;
}
/*公司列表图标*/
#gslb {
width:760px;
height:56px;
background:url('../img/mainPage/secondPage/company_title.png');
background-repeat:no-repeat;
background-size:161px 56px;
background-position:center;
}
#dlxc {
width:760px;
height:56px;
background:url('../img/mainPage/secondPage/proxy_title.png');
background-repeat:no-repeat;
background-size:161px 56px;
background-position:center;
}
/*
#gslb_1 {
background:url('../img/mainPage/secondPage/company_title.png');
float:left;
width:100px;
height:25px;
margin-top:15px;
background-repeat:no-repeat;
background-size:100% 100%;
}
*/
/*
#gslb_2 {
background:url('../img/mainPage/secondPage/gslb-2.jpg');
float:right;
width:40px;
height:50px;
background-repeat:no-repeat;
background-size:100% 100%;
}
*/
/*内容列表*/
#content_list {
width:710px;
height:auto;
padding-left:15px;
padding-top:3px;
margin:0px;
float:left;
}

#content_list_li_1{
width:305px;
height:auto;
min-height:25px;
float:left;
list-style:none;
}
#content_list_li_2 {
width:710px;
height:auto;
min-height:50px;
float:left;
list-style:none;
background:#eff4fa;
border-top:1px solid #c9d9e8;
}

/*代理二级页面内容列表*/
#proxy_list {
width:710px;
height:auto;
padding-left:15px;
padding-top:3px;
margin:0px;
float:left;
}
#proxy_list_li_img {
width:100px;
height:100px;
float:left;
list-style:none;
}
#proxy_list_li_1{
width:305px;
height:auto;
min-height:33px;
float:left;
list-style:none;
}
#proxy_list_li_2 {
width:710px;
height:auto;
min-height:50px;
float:left;
list-style:none;
background:#eff4fa;
border-top:1px solid #c9d9e8;
}

/*代理ajax布局*/
 .py_ajax 
{
width:197px;
height:auto;
margin:0px;
float:left;
/*border-bottom:2px solid #DCDCDC;*/
}

.py_ajax ul
{
width:197px;
float:left;
height:auto; 
margin:0px;
padding:0px;
/*border:1px solid #DCDCDC;*/
}
.py_ajax ul li
{
width:197px;
padding-top:7px;
list-style:none;
}
.py_ajax input[type=submit] {
width:71px;
height:28px;
padding-bottom:5px;
background-image:url('../img/mainPage/mainpage/button_background.png');
background-repeat:no-repeat;
background-size:100% 100%;
color:white;
cursor:pointer;
border:none;
}
.py_ajax select {
width:110px;
}
.py_ajax input {
width:197px;
}
/*招聘2级页面*/
#recruitment_div {
width:710px;
margin-left:auto;
margin-right:auto;
}

/*登录 */
#inputLine{
width:520px;
margin-top:60px;
margin-left:16px;
float:left;
padding:0px;
height:auto;
border:none;
}
/*
.inputLine ul li {
width:auto;
height:auto;
float:left;
list-style:none;
}
*/
#inputIcon {
width:120px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
text-align:center;
}
#inputTest_li {
width:65px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
text-align:center;
}
#inputField_li {
width:335px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
}
#inputField_li input[type=text] {
margin-top:13px;
}
#inputField_li input[type=password] {
margin-top:13px;
}
#yanzhengma {
width:335px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
}
#button_li {
margin-bottom:10px;
padding:0px;
text-align:center;
float:left;
width:520px;
height:28px;
list-style:none;
}
#forget_psw {
margin-bottom:10px;
padding:0px;
text-align:center;
float:left;
width:500px;
list-style:none;
height:15px;
}
#forget_psw a img {
border:none;
}
#yanzhengma input[type=text] {
margin-top:13px;
width:155px;
}
#inputField_li2 {
width:440px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
}
#username {
width:53px;
height:56px;
background:url('../img/mainPage/secondPage/username.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
float:right;
margin:0px;
padding:0px;
}
#password {
width:53px;
height:63px;
background:url('../img/mainPage/secondPage/password.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
float:right;
margin:0px;
padding:0px;
}
#email {
width:55px;
height:32px;
background:url('../img/mainPage/secondPage/email.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
float:right;
margin-top:6px;
}

/*注册*/
#inputField2 {
width:auto;
height:30px;
margin-top:15px;
text-align:right;
}

/*表单*/
#list_bg {
background:url('../img/mainPage/secondPage/ditu.jpg');
background-repeat:no-repeat;
background-size:70% 100%;
width:980px;
height:auto;
float:right;
min-height:800px;
}
/*招标*/
#yfzb {
width:760px;
height:53px;
background:url('../img/mainPage/secondPage/invite_bid_big_title.png');
background-repeat:no-repeat;
background-size:157px 53px;
background-position:center;
}
#bids_title {
width:165px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/invite_bid_blue_back_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#bids_box{
width:760px;
height:auto;
min-height:230px;
float:left;
background:url('../img/mainPage/secondPage/two_gay.png');
background-position:bottom right;
background-repeat:no-repeat;
background-size:166px 230px
}
#bids_box ul {
width:574px;
height:auto;
margin-left:20px;
float:left;
font-size:12px;
color:rgb(75,75,75);
letter-spacing: 1px
}
#bids_li0 {
height:59px;
width:574px;
float:left;
margin:0px;
padding:0px;
background:url('../img/mainPage/secondPage/man_with_ground_ball.png');
background-position:left;
background-repeat:no-repeat;
background-size:50px 59px;
list-style:none;
text-indent: 1.5cm;
font-size:16px;
font-style:bold;
color:#254a8e;
}
#bids_li1 {
height:auto;
min-height:59px;
width:574px;
float:left;
margin-bottom:15px;
padding:0px;
list-style:none;
text-indent: 1cm;
}
/*广告招租*/
#ad_title {
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/ad_invite.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#ad_Box {
width:760px;
float:left;
height:auto;
min-height:180px;
background:url('../img/mainPage/secondPage/sister_diqiu.png');
background-repeat:no-repeat;
background-size:195px 166px;
background-position:top right;
}
#ad_contents {
width:442px;
float:left;
min-height:180px;
margin-left:20px;
color:#4c4c4c;
font-size:12px;
}
#adtitle {
width:760px;
height:44px;
margin:0px;
padding:0px;
float:left;
background:url('../img/mainPage/secondPage/ad_invite_light.png');
background-repeat:no-repeat;
background-size:164px 44px;
background-position:center;
}
/*企业注册*/
#c_register_box {
width:760px;
height:auto;
float:left;
margin:0px;
padding:0px;
}
#c_register_box fieldset {
width:760px;
height:auto;
float:left;
margin:0px;
padding:0px;
border:none;
}
/*公司信息发布表单*/
#list_box {
width: 700px;
margin-left: 30px;
float: left;
padding:0px;
height: auto;
}
#company_submit_title
{
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/company_info_submit_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#upload_li {
width: 700px;
margin: 0px;
float: left;
height: auto;
list-style:none;
}
#list_test_li {
width:200px;
height:auto;
min-height:30px;
margin:0px;
padding:0px;
float:left;
list-style:none;
text-indent:1.4cm;
}
#list_input_li {
width:400px;
height:auto;
min-height:30px;
margin:0px;
padding:0px;
float:left;
list-style:none;
}

#list_input_button {
width:700px;
height:auto;
padding:0px;
margin-bottom:10px;
float:left;
list-style:none;
text-align:center;
}
#gsxx_submit {
width:760px;
height:40px;
margin-bottom:5px;
background:url('../img/mainPage/secondPage/company_introduce_submit_big_title.png');
background-repeat:no-repeat;
background-size:262px 40px;
background-position:center;
}
/*代理信息发布*/
#proxy_submit_title
{
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/proxy_submit_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#dlxx_submit {
width:760px;
height:40px;
margin-bottom:5px;
background:url('../img/mainPage/secondPage/company_proxy_submit_big_title.png');
background-repeat:no-repeat;
background-size:262px 40px;
background-position:center;
}
div.input.select.required {
width:700px;
float:left;
height:auto;
margin:0px;
padding:0px;
text-indent:1.4cm;
overflow:hidden;
}
#material_label {
float:left;
text-indent:1.4cm;
}
/*招聘信息发布*/
#recuritment_submit_title
{
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/recruitment_submit_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#zpxx_submit {
width:760px;
height:40px;
margin-bottom:5px;
background:url('../img/mainPage/secondPage/company_recruitment_submit_big_title.png');
background-repeat:no-repeat;
background-size:262px 40px;
background-position:center;
}
/*简历提交*/
#resume_submit_title
{
width:165px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/resume_edit_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#jlxx_submit {
width:760px;
height:40px;
margin-bottom:5px;
background:url('../img/mainPage/secondPage/personal_resume_big_title.png');
background-repeat:no-repeat;
background-size:262px 40px;
background-position:center;
}
/*招聘信息二级页面*/
#recuritment_title {
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/Recruitment_blue_back_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#zpxx {
width:760px;
height:53px;
background:url('../img/mainPage/secondPage/Recruitment_big_title.png');
background-repeat:no-repeat;
background-size:207px 53px;
background-position:center;
}
#recuritment_ul {
margin-left:20px;
float:left;
width:350px;
height:auto;
padding:0px;
}
#recuritment_li1 {
margin:0px;
padding:0px;
float:left;
width:350px;
height:auto;
min-height:30px;
font-style:bold;
font-size:15px;
color:Black;
list-style:none;
text-decoration:none;
}
#recuritment_li2 {
margin:0px;
padding:0px;
float:left;
width:175px;
height:auto;
min-height:20px;
font-size:12px;
color:#4b4b4b;
list-style:none;
}
#recuritment_li3 {
margin:0px;
padding:0px;
float:left;
width:350px;
height:auto;
min-height:20px;
font-size:13px;
color:#4b4b4b;
list-style:none;
}
#recuritment_li4 {
margin:0px;
padding:0px;
float:right;
width:auto;
min-width:60px;
height:auto;
min-height:20px;
font-size:16px;
background:#2497b2;
color:white;
list-style:none;
text-decoration:none;
text-align:right;
border-radius:2px;
}
#recuritment_li1 a {
text-decoration:none;
color:black;
}
#recuritment_li1 a:hover{
background:#2497b2;
color:white;
}

#recuritment_li4 a {
text-decoration:none;
color:white;
}

/*个人信息*/
#personaltitle {
width:760px;
height:47px;
margin-left:auto;
margin-right:auto;
background:url('../img/mainPage/secondPage/personal_info_with_light.png');
background-repeat:no-repeat;
background-size:148px 47px;
background-position:center;
}
#personal_3_box {
width:900px;
float:left;
margin-left:50px;
padding:0px;
height:auto;
}
#personal_3_ul {
width:650px;
margin:0px;
float:left;
padding:0px;
height:auto;
line-height:35px;
}
#personal_3_li_0 {
width:98px;
float:left;
min-height:27px;
height:auto;
list-style:none;
font-size:14px;
background:url('../img/mainPage/thirdPage/proxy_word_line.png');
background-position:bottom;
background-repeat:no-repeat;
background-size:100% 10%;
line-height:35px;
text-align:center;
}
#personal_3_li {
width:480px;
min-height:27px;
height:auto;
float:left;
padding:0px;
list-style:none;
margin-left:72px;
border-bottom:1px dashed #bababa;
}
#personal_3_li_return {
width:1000px;
float:left;
min-height:27px;
height:auto;
list-style:none;
text-align:center;
margin-top:10px;
}
