#bigBox {
width:1000px;
margin-left:auto;
margin-right:auto;
margin-top:5px;
height:auto;
float:left;
}
#company_title
{
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/companySearch.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
#proxy_title
{
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:4px;
height:49px;
background:url('../img/mainPage/secondPage/proxyInfo.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#aboutUs_title{
width:220px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:60px;
background:url('../img/mainPage/secondPage/aboutUs.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#login_title {
width:164px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:49px;
background:url('../img/mainPage/secondPage/login.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
}
#leftBox {
width:197px;
border:1px solid #EEE5DE;
border-radius:5px;
float:left;
margin-top:50px;
margin-left:12px;
min-height:230px;
height:auto;
text-align:center;
background:#f7f7f7;
}
#leftBox input[type=text] {
width:130px;
}
#actions_lists{
width:197px;
height:auto;
margin:0px;
padding:0px;
float:left;
}
#action_box {
width:220px;
height:auto;
float:left;
}
#actions_lists li {
width:197px;
padding-top:7px;
list-style:none;
}
#moving_ad {
float:left;
width:197px;
height:106px;
margin-left:12px;
margin-top:12px;
background:url('../img/mainPage/secondPage/activity_ad.png');
background-repeat:no-repeat;
background-size:100% 100%;
}
.leftBoxSubmit
{
background:yellow;
}
#rightBox {
background:url('../img/mainPage/secondPage/single_black_line.png');
background-repeat:no-repeat;
background-position:left center;
background-size:0.2% 150%;
width:760px;
float:right;
top:70px;
margin-top:10px;
}
.loginBox {
background:url('../img/mainPage/secondPage/single_black_line.png');
background-repeat:no-repeat;
background-position:left;
background-size:0.2% 150%;
width:760px;
float:right;
top:70px;
margin-top:10px;
height:auto;
}
.loginBox form {
width:700px;
height:auto;
margin:0px;
padding:0px;
border:none;
}
.loginBox fieldset {
width:536px;
height:auto;
margin:0px 0px 0px 80px;
border:none;
background:url('../img/mainPage/secondPage/shining_box.png');
background-repeat:no-repeat;
background-size:100% 100%;
padding:0px;
overflow:hidden;
}
/*公司列表图标*/
#gslb {
width:760px;
height:60px;
background:url('../img/mainPage/secondPage/company_title.png');
background-repeat:no-repeat;
background-size:22% 100%;
background-position:center;
}
#dlxc {
width:760px;
height:60px;
background:url('../img/mainPage/secondPage/proxy_title.png');
background-repeat:no-repeat;
background-size:22% 100%;
background-position:center;
}
/*
#gslb_1 {
background:url('../img/mainPage/secondPage/company_title.png');
float:left;
width:100px;
height:25px;
margin-top:15px;
background-repeat:no-repeat;
background-size:100% 100%;
}
*/
/*
#gslb_2 {
background:url('../img/mainPage/secondPage/gslb-2.jpg');
float:right;
width:40px;
height:50px;
background-repeat:no-repeat;
background-size:100% 100%;
}
*/
/*内容列表*/
#content_list {
width:710px;
height:auto;
padding-left:15px;
padding-top:3px;
margin:0px;
float:left;
}

#content_list_li_1{
width:305px;
height:auto;
min-height:25px;
float:left;
list-style:none;
}
#content_list_li_2 {
width:710px;
height:auto;
min-height:50px;
float:left;
list-style:none;
background:#eff4fa;
border-top:1px solid #c9d9e8;
}

/*代理二级页面内容列表*/
#proxy_list {
width:710px;
height:auto;
padding-left:15px;
padding-top:3px;
margin:0px;
float:left;
}
#proxy_list_li_img {
width:100px;
height:100px;
float:left;
list-style:none;
}
#proxy_list_li_1{
width:305px;
height:auto;
min-height:33px;
float:left;
list-style:none;
}
#proxy_list_li_2 {
width:710px;
height:auto;
min-height:50px;
float:left;
list-style:none;
background:#eff4fa;
border-top:1px solid #c9d9e8;
}

/*代理ajax布局*/
 .py_ajax 
{
width:197px;
height:auto;
margin:0px;
float:left;
/*border-bottom:2px solid #DCDCDC;*/
}

.py_ajax ul
{
width:197px;
float:left;
height:auto; 
margin:0px;
padding:0px;
/*border:1px solid #DCDCDC;*/
}
.py_ajax ul li
{
width:197px;
padding-top:7px;
list-style:none;
}
.py_ajax input[type=submit] {
width:71px;
height:28px;
padding-bottom:5px;
background-image:url('../img/mainPage/mainpage/button_background.png');
background-repeat:no-repeat;
background-size:100% 100%;
color:white;
cursor:pointer;
border:none;
}
.py_ajax select {
width:110px;
}
.py_ajax input {
width:197px;
}
/*招聘2级页面*/
#recruitment_div {
width:710px;
margin-left:auto;
margin-right:auto;
}

/*登录 */
#inputLine{
width:505px;
margin-top:60px;
margin-left:13px;
margin-right:13px;
float:left;
padding:0px;
height:auto;
border:none;
}
/*
.inputLine ul li {
width:auto;
height:auto;
float:left;
list-style:none;
}
*/
#inputIcon {
width:120px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
text-align:center;
}
#inputTest_li {
width:65px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
text-align:center;
}
#inputField_li {
width:320px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
}
#inputField_li input[type=text] {
margin-top:13px;
}
#inputField_li input[type=password] {
margin-top:13px;
}
#yanzhengma {
width:auto;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
}
#button_li {
margin:0px;
padding:0px;
text-align:center;
float:left;
width:500px;
height:28px;
list-style:none;
}
#forget_psw {
margin:0px;
padding:0px;
text-align:center;
float:left;
width:500px;
list-style:none;
height:15px;
}
#forget_psw a img {
border:none;
}
#yanzhengma input[type=text] {
margin-top:13px;
width:155px;
}
#inputField_li2 {
width:440px;
height:63px;
float:left;
list-style:none;
padding:0px;
margin:0px;
}
#username {
width:53px;
height:56px;
background:url('../img/mainPage/secondPage/username.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
float:right;
margin:0px;
padding:0px;
}
#password {
width:53px;
height:63px;
background:url('../img/mainPage/secondPage/password.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
float:right;
margin:0px;
padding:0px;
}
#email {
width:55px;
height:32px;
background:url('../img/mainPage/secondPage/email.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
float:right;
margin-top:6px;
}

/*注册*/
#inputField2 {
width:auto;
height:30px;
margin-top:15px;
text-align:right;
}

/*表单*/
#list_bg {
background:url('../img/mainPage/secondPage/ditu.jpg');
background-repeat:no-repeat;
background-size:70% 100%;
width:980px;
height:auto;
float:right;
min-height:800px;
}
/*招标*/
.invite_bids_top {
width:1024px;
height:60px;
float:left;
margin-top:30px;
background:url('../img/mainPage/secondPage/zhaibiao.png');
background-repeat:no-repeat;
background-size:26% 100%;
}
.bids_box{
width:1024px;
height:auto;
float:left;
padding:0px;
}
.bids_box ul {
height:auto;
float:left;
padding-left:24px;
width:900px;
}
.bids_box li {
width:auto;
border-top:1px solid black;
font-size:17px;
padding-top:10px;
text-align:left;
}

/*关于我们*/
#aboutUsBox {
width:740px;
float:right;
top:100px;
margin-top:60px;
height:auto;
min-height:500px;
background:url('../img/mainPage/secondPage/jiantou.png');
background-repeat:no-repeat;
background-size:400px 250px;
background-position:top right;
background-color:#fdfdfd;
}
#aboutUs_content {
width:400px;
float:left;
top:100px;
min-height:500px;
background-color:#fdfdfd;
}
