#company_third_title
{
width:165px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:49px;
background:url('../img/mainPage/thirdPage/company_introduce_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}

/*action bar*/
#listUl {
width:197px;
height:auto;
float:left;
text-align:0px;
margin:0px 0px 20px 0px;
padding:0px;
}
#listUl li {
display:block;
width:117px;
height:27px;
float:center;
list-style:none;
background:url('../img/mainPage/thirdPage/list-1.jpg');
background-repeat:no-repeat;
background-size:117px 27px;
margin-top:10px;
padding:0px;
margin-left:40px;
}
#listUl li a {
text-decoration:none;
padding-top:5px;
display:block;
color:#363636;
white-space:nowrap;
}
#listUl li a:hover
{
/*text-decoration:underline;*/
background-image:url('../img/mainPage/thirdPage/list-2.jpg');
	background-repeat:no-repeat;
	background-size:117px 27px;
	width:117px;
	height:27px;
}

/*三级页面表单*/
#proxy_div {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
}
#proxy_dl {
	line-height: 2em;
	float:left;
	width: 65%;
}

#proxy_dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 8em;
	border-bottom:2px solid #20B2AA;
	margin-left:80px;
}
#proxy_dd {
	margin-left: 300px;
	margin-top:-2em;
	vertical-align: top;
	border-bottom:2px dotted #D3D3D3;
	text-align:left;
}
#anotherPageBox a {
color:black;
}
#girl_div {
background:url('../img/mainPage/thirdPage/dlxx-3.jpg');
width:269px;
height:243px;
float:right;
margin-right:30px;
background-repeat:no-repeat;
background-size:100% 100%;
}

.company_dl dl {
	line-height: 2em;
	float:left;
	width: 65%;
}

.company_dl dl dt  {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 8em;
	border-bottom:2px solid #20B2AA;
	margin-left:80px;
}
.company_dl dl dd{
	margin-left: 300px;
	margin-top:-2em;
	vertical-align: top;
	border-bottom:2px dotted #D3D3D3;
	text-align:left;
}
#jbxx {
width:760px;
height:47px;
background:url('../img/mainPage/thirdPage/basic_info_with_light.png');
background-repeat:no-repeat;
background-size:148px 47px;
background-position:center;
}
#gsjs {
width:760px;
height:47px;
margin-bottom:5px;
background:url('../img/mainPage/thirdPage/company_info_with_light.png');
background-repeat:no-repeat;
background-size:148px 47px;
background-position:center;
}
#dltitle {
width:760px;
height:47px;
margin-left:auto;
margin-right:auto;
background:url('../img/mainPage/thirdPage/proxy_info_with_light.png');
background-repeat:no-repeat;
background-size:148px 47px;
background-position:center;
}
#company_3_ul {
width:700px;
margin:0px;
float:left;
padding-left:20px;
height:auto;
}
#company_3_li_0 {
width:120px;
float:left;
min-height:20px;
height:auto;
border-bottom:1px dashed #bababa;
list-style:square inside url('../img/mainPage/thirdPage/dot.png');
}
#company_3_li {
width:500px;
min-height:20px;
height:auto;
float:left;
padding:0px;
list-style:none;
margin-left:80px;
border-bottom:1px dashed #bababa;
}
#company_img {
width:700px;
height:auto;
position:relative;
float:left;
margin:0px 0px 20px 0px;
padding:0px;
list-style:none;
}
#company_3_edit {
width:700px;
height:auto;
float:left;
margin:0px 0px 10px 0px;
padding:0px;
list-style:none;
text-align:center;
}
#proxy_3_box {
width:900px;
float:left;
margin-left:50px;
padding:0px;
height:auto;
background:url('../img/mainPage/thirdPage/dlxx-3.jpg');
background-size:269px 243px;
background-repeat:no-repeat;
background-position:right bottom;
}
#proxy_3_ul {
width:650px;
margin:0px;
float:left;
padding:0px;
height:auto;
line-height:35px;
}
#proxy_3_li_0 {
width:98px;
float:left;
min-height:27px;
height:auto;
list-style:none;
font-size:14px;
background:url('../img/mainPage/thirdPage/proxy_word_line.png');
background-position:bottom;
background-repeat:no-repeat;
background-size:100% 10%;
line-height:35px;
text-align:center;
}
#proxy_3_li {
width:480px;
min-height:27px;
height:auto;
float:left;
padding:0px;
list-style:none;
margin-left:72px;
border-bottom:1px dashed #bababa;
}
#proxy_3_li_return {
width:650px;
float:left;
min-height:27px;
height:auto;
list-style:none;
text-align:center;
}
/*招聘三级页面*/
#recuriment_3_box {
width:980px;
float:left;
margin-left:50px;
padding:0px;
height:auto;
}
#recuriment_3_title {
width:980px;
height:47px;
margin-left:auto;
margin-right:auto;
background:url('../img/mainPage/thirdPage/recruitment_with_lamp.png');
background-repeat:no-repeat;
background-size:148px 47px;
background-position:center;
}
#recuriment_3_ul {
width:900px;
margin:0px;
float:left;
padding:0px;
height:auto;
line-height:35px;
}
#recuriment_3_li_0 {
width:98px;
float:left;
min-height:27px;
height:auto;
list-style:none;
font-size:14px;
background:url('../img/mainPage/thirdPage/proxy_word_line.png');
background-position:bottom;
background-repeat:no-repeat;
background-size:98px 3px;
line-height:35px;
text-align:center;
}
#recuriment_3_li_1 {
width:200px;
height:auto;
min-height:27px;
float:left;
margin-left:2px;
padding:0px;
font-size:13px;
list-style:none;
border-bottom:1px dashed #bababa;
}

.request_content {
width: 980px;
height:auto;
margin:20px 0px 0px 0px;
padding:0px;
float:left;
}
.request_title {
padding: 6px;
background: none repeat scroll 0% 0% #2497b2;
display: block;
color: white;
font-size: 16px;
width: 70px;
height: 18px;
margin-left: 20px;
}
.request_item_box {
background:url('../img/mainPage/thirdPage/five_hero.png');
background-size:228px 171px;
background-repeat:no-repeat;
background-position:right bottom;
width: 900px;
height:auto;
min-height:171px;
margin:10px 40px 10px 40px;
padding:0px;
float:left;
}
.request_item {
text-indent: 1cm;
width:672px;
height:auto;
margin:0px;
padding:0px;
float:left;
}
.recuriment_return {
width: 980px;
height:auto;
margin:10px 0px 0px 0px;
padding:0px;
float:left;
text-align:center;
}
/*关于我们*/
#aboutUsBox {
width:760px;
float:left;
height:auto;
min-height:180px;
background:url('../img/mainPage/thirdPage/ground_ball.png');
background-repeat:no-repeat;
background-size:298px 175px;
background-position:top right;
}
#aboutUs_content {
width:442px;
float:left;
min-height:180px;
margin-left:20px;
color:#4c4c4c;
font-size:15px;
}
#ljwm {
width:760px;
height:47px;
float:left;
margin:0px;
padding:0px;
background:url('../img/mainPage/thirdPage/了解我们.png');
background-repeat:no-repeat;
background-size:148px 47px;
background-position:center;
}
