#company_third_title
{
width:165px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
height:49px;
background:url('../img/mainPage/thirdPage/company_introduce_title.png');
background-repeat:no-repeat;
background-size:100% 100%;
}

/*action bar*/
#listUl {
width:197px;
height:auto;
float:left;
text-align:0px;
margin:0px 0px 20px 0px;
padding:0px;
}
#listUl li {
display:block;
width:117px;
height:27px;
float:center;
list-style:none;
background:url('../img/mainPage/thirdPage/list-1.jpg');
background-repeat:no-repeat;
background-size:100% 100%;
margin-top:10px;
padding:0px;
margin-left:40px;
}
#listUl li a {
text-decoration:none;
padding-top:5px;
display:block;
color:#363636;
white-space:nowrap;
}
#listUl li a:hover
{
/*text-decoration:underline;*/
background-image:url('../img/mainPage/thirdPage/list-2.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
}

/*三级页面表单*/
#proxy_div {
text-align:center;
margin-top:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
}
#proxy_dl {
	line-height: 2em;
	float:left;
	width: 65%;
}

#proxy_dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 8em;
	border-bottom:2px solid #20B2AA;
	margin-left:80px;
}
#proxy_dd {
	margin-left: 300px;
	margin-top:-2em;
	vertical-align: top;
	border-bottom:2px dotted #D3D3D3;
	text-align:left;
}
#anotherPageBox a {
color:black;
}
#dlxx {
width:160px;
height:50px;
margin-left:auto;
margin-right:auto;
}
#dlxx_1 {
background:url('../img/mainPage/thirdPage/dlxx-1.jpg');
width:100px;
height:25px;
margin-top:15px;
float:left;
background-repeat:no-repeat;
background-size:100% 100%;
}
#dlxx_2 {
background:url('../img/mainPage/thirdPage/dlxx-2.jpg');
width:40px;
height:50px;
float:right;
background-repeat:no-repeat;
background-size:100% 100%;
}
#girl_div {
background:url('../img/mainPage/thirdPage/dlxx-3.jpg');
width:269px;
height:243px;
float:right;
margin-right:30px;
background-repeat:no-repeat;
background-size:100% 100%;
}

.company_dl dl {
	line-height: 2em;
	float:left;
	width: 65%;
}

.company_dl dl dt  {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 8em;
	border-bottom:2px solid #20B2AA;
	margin-left:80px;
}
.company_dl dl dd{
	margin-left: 300px;
	margin-top:-2em;
	vertical-align: top;
	border-bottom:2px dotted #D3D3D3;
	text-align:left;
}
#jbxx {
width:760px;
height:47px;
background:url('../img/mainPage/thirdPage/basic_info_with_light.png');
background-repeat:no-repeat;
background-size:22% 100%;
background-position:center;
}
#gsjs {
width:760px;
height:47px;
background:url('../img/mainPage/thirdPage/company_info_with_light.png');
background-repeat:no-repeat;
background-size:22% 100%;
background-position:center;
}
#company_3_ul {
width:700px;
margin:30px 0px 0px 30px;
float:left;
padding-left:20px;
height:auto;
}
#company_3_li_0 {
width:200px;
float:left;
min-height:27px;
height:auto;
list-style:square inside url('../img/mainPage/thirdPage/dot.png');
}
#company_3_li {
width:500px;
min-height:27px;
height:auto;
float:left;
padding:0px;
list-style:none;
}
#dot_label {
border-bottom:1px dashed solid;
}
/*招聘三级页面*/
.recuitment_class {
width:1024px;
height:auto;
min-height:200px;
background:rgb(240, 240, 240);
border-top:1px dashed rgb(204, 204, 204);
border-bottom:1px dashed rgb(204, 204, 204);
}
.recuitment_class ul{
width:1024px;
float:left;
height:auto;
}
.recuitment_class ul li{
width:330px;
height:30px;
text-decoration:none;
float:left;
text-align:left;
color: rgb(102, 102, 102);
}
.request_title {
padding:10px;
background: none repeat scroll 0% 0% rgb(240, 240, 240);
display: block;
color: rgb(102, 102, 102);
font-size: 16px;
width: 80px;
height: 25px;
margin-left: 20px;
}

.request_content {
padding:0px;
margin:0px;
border-bottom: 1px dashed rgb(204, 204, 204);
height: auto;
min-height:100px;
width:1024px;
margin-top:30px;
}

.request_item {
font-size: 14px;
height: auto;
overflow: hidden;
padding: 5px 25px 20px;
line-height: 21px;
text-align:left;
}
